.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-ccc95e8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-ccc95e8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-ccc95e8.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-133 .elementor-element.elementor-element-ccc95e8>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-133 .elementor-element.elementor-element-ccc95e8 {
    z-index: 2;
}

.elementor-133 .elementor-element.elementor-element-6905963 .pxl-logo img {
    max-height: 41px;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-0c78f23.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-0c78f23.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-0c78f23.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-133 .elementor-element.elementor-element-0c78f23>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-133 .elementor-element.elementor-element-0c78f23 {
    z-index: 2;
}

.elementor-133 .elementor-element.elementor-element-b177342 .pxl-nav-menu .pxl-menu-primary>li>a {
    letter-spacing: 1.2px;
}

.elementor-133 .elementor-element.elementor-element-b177342 .pxl-menu-primary .sub-menu li+li {
    margin-top: 0px;
}

.elementor-bc-flex-widget .elementor-133 .elementor-element.elementor-element-d8f18ef.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-d8f18ef.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-133 .elementor-element.elementor-element-d8f18ef.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-133 .elementor-element.elementor-element-d8f18ef>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-133 .elementor-element.elementor-element-d8f18ef {
    z-index: 2;
}

.elementor-133 .elementor-element.elementor-element-8ea36b8>.elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-133 .elementor-element.elementor-element-8ea36b8 {
    width: auto;
    max-width: auto;
}

.elementor-133 .elementor-element.elementor-element-a786e52>.elementor-widget-container {
    padding: 0px 3px 0px 0px;
}

.elementor-133 .elementor-element.elementor-element-a786e52 {
    width: auto;
    max-width: auto;
}

@media(min-width:576px) {
    .elementor-133 .elementor-element.elementor-element-ccc95e8 {
        width: 22.3%;
    }

    .elementor-133 .elementor-element.elementor-element-0c78f23 {
        width: 54%;
    }

    .elementor-133 .elementor-element.elementor-element-d8f18ef {
        width: 23.032%;
    }
}